.informations{

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;  

  .inputs{
    
    display: flex;
    justify-content: center ;
    width: 100%;

    input{

      border: 1px solid ;
      height: 20px;
      max-width: 500px;
      min-width: none;
      margin: 10px;
      width: 100%;
      background-color: #202124;
      padding: 1px;

    }

    #title{


      font-size: 1.2rem;
      

    }

    #text{
  
      font-size: 0.9rem;
      
  
    }


  }

}

.desaparecer{

  display: none;

}

.aparecer{

  display: block;

}

/* Vista lista */
.tablon.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Vista cuadritos */
.tablon.cuadricula {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}
