.informations{

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .inputs{
    
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    input{

      color: white;
      border: 1px solid ;
      height: 20px;
      max-width: 500px;
      min-width: none;
      margin: 10px;
      width: 100%;
      background-color: #202124;
      padding: 1px;
      color: #fff;

      outline: none;
      


    }

    #title{


      font-size: 1.2rem;
      outline: none;
      color: #fff;
      border-radius: 3px;
      height: 30px;

    }

    #text{
  
      font-size: 0.9rem;
      color: #fff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 100px;
      
  
    }

    

  }

}

.desaparecer{

  display: none;

}

.aparecer{

  display: block;

}




