.informations{

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: calc(100% - 260px);

  
}
.inputs{
  
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  

  
  
  
  
}
#title{
  
  margin-top: 10px;
  border: 1px solid ;
  background-color: #202124;
  outline: none;
  font-size: 1.2rem;
  outline: none;
  color: #fff;
  border-radius: 3px;
  height: 30px;
  max-width: 80%;
  width: 70%;
  min-width: 40%;
  
}

#text{
  
  resize: none;
  font-size: 0.9rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  max-width: 70%;
  width: 60%;
  min-width: 30%;
  margin-top: 10px
  

}

.desaparecer{

  display: none;

}

.aparecer{

  display: block;

}




