.informations {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.inputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  border: 1px solid #5c5a5a;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #2a2b2e;
}

#title {
  border: none;
  margin-top: 10px;
  background-color: #202124;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 3px;
  height: 30px;
  width: 70%;
  min-width: 40%;
  max-width: 80%;
  padding: 5px 10px;
  box-sizing: border-box;
  outline: none;
}

#text {
  border: none;
  font-size: 0.9rem;
  background-color: #202124;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 80px;
  border-radius: 3px;
  width: 70%;
  min-width: 30%;
  max-width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.botones {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  gap: 10px;
}

.botones img {
  width: 40px;
  height: 40px;
}

.divNotas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #5c5a5a;
  background-color: #202124;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 80%;
  width: 70%;
  min-width: 20%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.divNotas h4,
.divNotas p {
  width: 100%;
  margin: 0;
}

.desaparecer {
  display: none;
}

.aparecer {
  display: block;
}

#archivar,
#Cerrar {
  background-color: #202124;
  border-radius: 5px;
  border: 1px solid #5c5a5a;
  padding: 5px;
  cursor: pointer;
}

#Cerrar:hover,
.btnEliminar:hover {
  background-color: #5c5a5a;
}

.btnEliminar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #5c5a5a;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
}

#Note{

  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

}