.informations{

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;  

  .inputs{
    
    display: flex;
    justify-content: center ;
    width: 100%;

    #title{

      width: 100%;
      background-color: #202124;
      padding: 1px;
      font-size: 1.2rem;
      border: 1px solid ;
      height: 30px;
      max-width: 500px;
      min-width: 300px;
      margin: 10px;

    }

    #text{
  
      width: 100%;
      background-color: #202124;
      padding: 1px;
      font-size: 0.9rem;
      border: 1px solid ;
      height: 20px;
      max-width: 500px;
      min-width: 300px;
      margin: 10px;
      
  
    }


  }

}

.desaparecer{

  display: none;

}

.aparecer{

  display: block;

}
