/* Fondo oscuro */
.modal-editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscurece */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Caja */
.modal-box {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

/* Título */
.modal-box h3 {
    margin-bottom: 15px;
    font-size: 17px;
    color: white;
}

/* Fila input */
.fila-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Botón X */
.cerrar-x {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Input */
.fila-input input {
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    padding: 6px;
    color: white;
    outline: none;
}

/* Botón check */
.check-btn {
    background: none;
    border: none;
    color: #00ff90;
    font-size: 18px;
    cursor: pointer;
}

/* Footer */
.footer-final {
    margin-top: 20px;
    text-align: right;
}

.btn-finalizado {
    background: transparent;
    border: none;
    color: #9ec7ff;
    cursor: pointer;
    font-size: 14px;
}
