* {

    margin: 0;
    padding: 0;
    
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #918f8f;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    width: 100%;        /* ocupa toda la pantalla */
    height: 80px;       /* se ajusta al contenido */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* ---- IZQUIERDA ---- */
.nav-left {

    display: flex;
    align-items: center;
    gap: 20px;

}

.keep{

    height: 50px;
    
}

.NotiHub{

    color: #fff;
    
}

.Tablones{

    height: 30px;
    border: 4px;

}

.menu-button,
.refresh-button,
.view-button,
.apps-button,
.profile-button {

    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;

}

/* ---- Parte botones ---- */
aside{

    display: flex;
    justify-content: column;
    align-items: center;
    
}


/* ---- DERECHA ---- */
.nav-right {

    display: flex;
    align-items: center;
    gap: 15px;

}
























/* Carga de loader */


.loader {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 15%;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 37%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}


