* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #918f8f;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    width: 100%;        /* ocupa toda la pantalla */
    height: 80px;       /* se ajusta al contenido */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* ---- IZQUIERDA ---- */
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.keep{
    height: 50px;
}

.NotiHub{
    color: #fff;
    
}

.Tablones{
    height: 30px;
    border: 4px;
}
.menu-button,
.refresh-button,
.view-button,
.apps-button,
.profile-button {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 15px;
}

/* ---- CENTRO ---- */
.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-center input {
    width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
}

/* ---- DERECHA ---- */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
