body{
    background-color: #7c7b7b;

}
.Blanco{
    background-color: #fff;
    max-width:  630px;
    height: 776px;
    margin: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



h1{

    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
span{
    color: #7c7b7b;
}
p{
    margin-top: 40px;
   display: flex;
    font-family:Arial, Helvetica, sans-serif; 
}
main{
    width: 70%;
    
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 400px;
    outline: none;
}
img{
   width: 100px;
   display: flex;
}
button{
    background-color: #7c7b7b;
    margin-top: 40px;
    border: none;
    color: #fff;
    width: 410px;
    height: 30px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif; 
    
}

select{
    width: 410px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif; 
    outline: none;
    color :#fff;
    background-color: blue;
    display: flex;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    text-align: center;
    
}